@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif !important;
}

nav {
  z-index: 2;
}

nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 2px;
  cursor: pointer;
}

.navbar-nav {
  margin-left: auto;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 12px;
  color: rgb(46, 233, 240) !important;
  border: 3px solid rgba(255, 255, 255, 0);
}

nav a.navbar-brand {
  font-size: 42px;
  color: rgb(46, 233, 240) !important;
}

nav a.navbar-brand:hover {
  font-size: 52px;
  margin-left: -20px;
  transition: 0.3s ease-in-out;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-bottom: 3px solid rgb(46, 233, 240);
}

.navbar-nav > li > a:hover {
  border: 3px solid rgb(46, 233, 240);
}

nav .container {
  min-height: 90px;
}

.header-wrapper {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(portfolio-background.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: orange;
  text-transform: uppercase;
}

.typed-text {
  font-size: 2rem;
  color: white;
}

.btn-main-offer {
  border: 1px solid red;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 12px 12px 12px;
  color: white;
  margin-top: 2rem;
  text-decoration: none;
}

.btn-main-offer:hover {
  background-color: orangered;
  color: rgb(46, 233, 240);
  transition: 0.2s ease-in-out;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media (max-width: 768px) {
  nav a.navbar-brand {
    font-size: 30px;
  }
  nav a.navbar-brand:hover {
    font-size: 36px;
    margin-left: 0;
  }
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid;
}

.heading {
  color: orange;
}

@media (max-width: 468px) {
  .profile-img {
    width: 230px;
    height: 230px;
    object-fit: cover;
  }
}

.project-wrapper {
  background: rgb(175, 162, 145);
  padding: 3rem 0;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.video-wrapper {
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.project-card {
  width: 90%;
  border: rgb(46, 233, 240) solid 1px;
  padding: 10px;
  box-shadow: 0px 0px 20px 8px rgb(46, 233, 240);
  margin: 3%;
  background-color: rgb(9, 32, 77);
}

@media (max-width: 768px) {
  .video-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
}

.contact {
  background: rgb(9, 32, 77);
  padding: 3rem 0;
}

.contact h1 {
  color: orange;
  padding: 1.3rem 0;
  text-transform: uppercase;
}
.contact p {
  color: gray;
  font-size: 1.2rem;
}

.contact input,
.contact textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 2px solid rgb(104, 100, 100);
  border-radius: 0;
  color: orange;
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0;
}

.contact .container {
  padding: 4rem 0;
}

.contact input:focus,
.contact textarea:focus {
  background: transparent;
  color: orange;
  border-bottom: 2px solid rgb(104, 100, 100);
}

.contact textarea {
  height: 12.2rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 2px;
  background: orange;
  display: inline-block;
}

input:focus + .line,
textarea:focus + .line {
  width: 100%;
  transition: width 0.8s ease-in-out;
}

@media (max-width: 768px) {
  .contact .container {
    padding: 0 1rem;
  }
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: red;
}

.sent-success {
  font-weight: 900%;
  color: orange;
}
